[data-theme="dark"] {

    /* Default Colors */

    background-color: #323247 !important;
    color: #eee !important;

    /* Index Page */

    h1.title {
        color: #BB78FF !important;
    }

    #aside{
    color: #eee !important;
    }

    #aside .title, #aside .username{
    color: #eee !important;
    }

    header nav ul li {
        color: #eee !important;
    }

    #posts a:link, a:visited, a:active, a:hover {
    color: #eee !important;
    }

    .post:hover{
        .text-warp {
            .title{
                color: #eee !important;
            }
            .title::before {
                background-color: $theme-color;
            }
        }
    }
    .meta {
        color: #999999 !important;
    }
    .tag-sm {
        color: gray !important;
        background-color: #333333;
    }
    .tag-sm:hover {
        background-color: $theme-color;
        color: #eee !important;
    }
    #aside #proj-wrap .proj-content:hover *{
    color: #CC51a3 !important;
    }
    #tags .tag-group .items .item .title {
    color: #eee !important;
    }

    /* Post Page */

    #post {
    color: #eee !important;
    a:link, a:visited {
        color: #BB78FF !important;
    }
    ul li:before {
        background-color: grey !important;
    }
    blockquote {
        color: #eee !important;
    }
    hr {
        border-color: greenyellow !important;
    }
    }
    .highlighter-rouge{
        color: #ff51a3 !important;
        background-color: transparent !important;
    }
    #disqus_thread {
    padding: 20px;
    background-color: #d4d4d4 !important;
    border-radius: 40px;
    border: none;
    }
    #comments div.border {
    border: none;
    }
    #pagination li.btn-rounded {
    color: #ddd !important;
    }

    /* Tags Page */

    #tags .tag-group .title {
    color: #eee !important;
    }

    /* Portfolio Page */

    #protfolio #career {
    .title {
        color: #BB78FF !important;
    }
    .exper ul.exper-list li.meta {
        .description{
            color: #eee !important;
        }
        .date{
            color: #eee !important;
        }
    }

    }
    #project .project-wrap {
    color: #eee !important;
    p.title {
        color: #BB78FF !important;
    }
    }
    #project .card-container .card-wrapper .card {
    background-color: $theme-dark2 !important;
    .text-wrap {
        .date{
            color: #BB78FF !important;
        }
        .title {
            color: #eee !important;
        }
    }

    }
    .modal .modal-content{
        background-color: #323247 !important;
        .header .date {
            color: grey;
        }
    }
    #icons{
    i{
        background-color: $theme-color;
        color : #eee;
    }
    i:hover {
        background-color: $theme-dark;
        color : #eee;
    }
    }
    #project .card-container .card-wrapper .card .icons a{
    color: #ccc !important;
    }

    /* Footer */

    footer {
        color: #eee !important;
        .footer {
            border: none;
        }
        a, .footer a {
            color: #BB78FF !important;
        }
    }
    .noplugin {
        color: #eee !important;
    }

    /* 404 page */

    #error404 {
    color: #eee !important;
    }

}
