/* ==========================================================================
 m acchiato* theme skin
 ========================================================================== */

/* Colors */
.data-theme="dark" {
$base-color: #24273a !default;
$text-color: #c6a0f6 !default;
$accent-color: #8839ef !default;
$background-color: #1e1e2e !default;
$code-background-color: #cdd6f3 !default;
$border-color: rgba($text-color, 0.5) !default;
$overlay-color: #cdd6f3 !default;
}
