/* ==========================================================================
 m acchiato* theme skin
 ========================================================================== */

/* Colors */
$base-color: #24273a !default;
$text-color: #c6a0f6 !default;
$accent-color: #8839ef !default;
$background-color: #24273a !default;
$code-background-color: #939ab7 !default;
$border-color: rgba($text-color, 0.5) !default;
$overlay-color: #939ab7 !default;
