/* ==========================================================================
 m acchiato* theme skin
 ========================================================================== */

/* @import url(http://fonts.gstatic.com/s/roboto/v15/mErvLBYg_cXG3rLvUsKT_fesZW2xOQ-xsNqO47m55DA.woff2); */

/* Colors */
/* $base-color: #24273a !default; */
$base-color: #cdd6f3 !default;
$text-color: #c6a0f6 !default;
$accent-color: #aa55ff !default;
$background-color: #181825 !default;
$code-background-color: #939ab7 !default;
$border-color: rgba($text-color, 0.5) !default;
$overlay-color: #939ab7 !default;
$sidebar-background-color: #11111a !default;

$sidebar-width: 50% !default;

.page__footer-follow .social-icons i,
.page__footer-follow .social-icons .svg-inline--fa  {
  color: inherit;
}

.menu i,
{
  @include fluid-type: $min-vw: $max-vw: 24px, 48px;
 }

/* $min-vw $max-vw 24px, 32px: !default; */

   /* @include fluid-type($min-vw, $max-vw, 24px, 48px); */



