/* ==========================================================================
   macchiato theme skin
   ========================================================================== */

/* Colors */
$base-color: #561050 !default;
$text-color: #35013f !default;
$accent-color: #951556 !default;
$background-color: #B47DDB !default;
$code-background-color: #191926 !default;
$border-color: rgba($text-color, 0.5) !default;
$overlay-color: #11111a !default;
