[data-theme="dark"] {
    --main-background-color: @mocha-mantle;
    --main-darken-background-color: @mocha-crust-darken;
    --crust-background-color: @mocha-crust;
    --mantle-background-color: @mocha-mantle;
    --main-text-color: @mocha-text; 
    --subtext0-color: @mocha-subtext0;
    --surface0-color: @mocha-surface0;
    --overlay1-color: @mocha-overlay1;
    --overlay0-color: @mocha-overlay0;
    --accent-color: @mocha-mauve;
    --accent-color-background: @mocha-mauve-background;
    --accent-color-deep: @mocha-blue;
    --accent-color-deep-background: @mocha-blue-background;
    --hr-color: @mocha-surface1;
    --link-color: @latte-lavender;
    --code-color: rgb(229, 80, 116);
    --code-background-color: rgb(45, 22, 27);;
    --content-active-color: @mocha-peach;
    --content-background-color: @mocha-crust;
}
