// Vars --------------------------------------------------------------------------------
$box-shadow: inset 0 -0.1rem 0 rgba($black, 0.20) !important;

:root {
  --body-bg: #EEE2DC;
  --body-color: #AC3B61;
  --body-link-color: #AC3B61;
  --footer-bg: #123C69;
  --card-bg: #EDC7B7;
}

/* Dark mode */
@media (prefers-color-scheme: dark) {
  :root {
    --body-bg: #303C6C;
    --background-image: linear-gradient(90deg, rgba(48, 60, 108, 1) 0%, rgba(48, 60, 140, 1) 100%);
    --body-color: #E2E8E4;
    --body-link-color: #FFCCBB;
    --footer-bg: #303C6C;
    --card-bg: #212529;
  }
}

// Main Elements ----------------------------------------------------------------------
body {
  background-color: var(--body-bg);
  color: var(--body-color) !important;
}
h1 {
  @extend .display-1;
  font-family: "Fugaz One", sans-serif;
}
h2 {
  @extend .display-4;
  font-family: "Fugaz One", sans-serif;
}
h3 {
  @extend .fs-2;
  font-family: "Fugaz One", sans-serif;
}
figcaption {
  @extend .text-light;
}
.h-caption {
  @extend .fs-2;
}
del {
  @extend .text-muted;
}
a, a.nav-link {
  color: var(--body-link-color);
}
.spacer-y {
  @extend .my-4;
}
.big-banner {
  @extend .p-2;
  background-color: var(--footer-bg);
}
.bullet-hash {
  &:before {
    content: "#";
    @extend .small, .me-2, .text-muted;
  }
}
.bullet-pointer {
  &:before {
    content: "👉";
    @extend .me-2;
  }
}
.bar-secondary {
  @extend .p-2, .rounded, .text-center, .text-muted, .small;
  background-color: var(--footer-bg);
}

// Header ----------------------------------------------------------------------
nav.navbar {
  background-image: var(--background-image);
  background-color: var(--body-bg);

  a {
    color: var(--body-color);
  }
}
.nav-spacer {
  margin-bottom: 2.5rem;
}

// Posts --------------------------------------------------------------------------------
.article-header {
  @extend .col-md-8, .offset-md-2, .p-4, .rounded;
  background-color: var(--footer-bg);

  img {
    @extend .mt-2, .rounded, .w-100;
  }
}
.article-secondary {
  @extend .p-3, .text-center, .rounded-3, .small;
  background-color: var(--card-bg);
}

div.article-body {
  p {
    @extend .col-md-8, .offset-md-2, .my-4;
  }
  h2 {
    @extend .col-md-8, .offset-md-2, .pt-2;
    font-family: "Fugaz One", sans-serif;
    &:before {
      content: ">";
      color: $secondary;
      padding-right: $caret-width;
    }
  }
  h3 {
    @extend .col-md-8, .offset-md-2, .pt-1;
    font-family: "Fugaz One", sans-serif;
    &:before {
      content: ">>";
      color: $secondary;
      padding-right: $caret-width;
    }
  }

  figure {
    @extend .text-center, .p-4, .w-100;
    box-shadow: 0 1.5rem 1rem -0.75rem inset rgba($black, .5), 0 -1.5rem 1rem -0.75rem inset rgba($black, .5);
    background-color: var(--card-bg);

    img {
      @extend .rounded-3, .shadow-lg;
    }
  }

  ol,
  ul {
    @extend .col-md-8, .offset-md-2, .p-0;
    list-style-type: none;
  }

  ol li {
    @extend .my-2, .ms-4;
    counter-increment: item;
    &:before {
      color: $secondary;
      content: counter(item) ". ";
    }
  }

  ul li {
    @extend .my-2, .ms-4;
    &:before {
      content: "\2794";
      color: $secondary;
      padding-right: $caret-width;
    }
  }

  p,
  ol li,
  ul li {

    code {
      @extend .p-1, .text-muted;
      @include border-radius($border-radius-sm);
      @include box-shadow($box-shadow);
      background-color: var(--card-bg);
    }
  }

  blockquote {
    @extend .px-3;
    border-left: 4px solid $border-color;
  }

  pre {
    @extend .p-3, .rounded-3;
    background-color: var(--card-bg);
    color: var(--body-color);
    box-shadow: 0 0.4rem 0.8rem rgba($black, .25);

    code {
      padding: 0;
    }

    .highlight {
      @extend .rounded-3;
      white-space: pre-wrap;
    }
  }

  div.highlight {
    @extend .col-md-8, .offset-md-2, .rounded-3;
  }
}
div.article-footer {
  @extend .col-md-8, .offset-md-2;
}

.serif {
  p, ol, ul {
    font-family: "Tinos", serif;
    font-size: 1.2rem;
  }
}

// Footer --------------------------------------------------------------------------------
.footer-logo {
  @extend .text-center;
  margin-top: -26px !important;

  img {
    margin-top: -26px;
  }
}
footer {
  @extend .p-4;
  background-color: var(--footer-bg);
  margin-top: 2.5rem;
}
a.social-nav {
  @extend .nav-link, .text-dark;
}

a.meta-nav {
  @extend .btn, .btn-sm, .nav-link;

  background-color: var(--card-bg);
  color: var(--body-color);

  &:hover {
    background-color: var(--body-color);
    color: var(--card-bg);
    text-decoration: none;
  }
}

// Blog post cards
a.post-card {
  div.card {
    @extend .h-100;
    background-color: var(--card-bg);
    color: var(--body-color);

    &:hover {
      background-color: var(--body-color);
      color: var(--card-bg);
      text-decoration: none;
    }
  }

  // For link text decoration
  &:hover {
    text-decoration: none;
  }
}

// 3rd party --------------------------------------------------------------------------------
// Plausible
iframe.plausible-iframe {
  width: 1px;
  min-width: 100%;
  height: 1600px;
}

// Mailchimp
#mc_embed_signup {
  clear: left;
}
#mc_embed_signup_scroll {
  select {
    @extend .w-100, .h-100;
  }
  input.button {
    @extend .btn, .btn-primary, .w-100;
  }
}
