<!--<div class="code-header">
  <button class="copy-code-button">
    Copy 📋
  </button>
</div> -->


<!-- Heading links -->
{% endcomment %}
<script>
  document
    .querySelector('.post-content')
    .querySelectorAll('h1,h2,h3,h4,h5,h6')
    .forEach(function (heading) {
      if (heading.id)
        heading.innerHTML =
          '<a href="#' + heading.id + '">' +
            heading.innerText +
          '<\/a>' +
          '<span class="anchor-icon">§<\/span>';
    });
</script>
{% comment %}

<!-- Copy code to clipboard -->
{% endcomment %}
<script>
  document
    .querySelectorAll('.post-content pre.highlight')
    .forEach(function (pre) {
      var button = document.createElement('button');
      var copyText = 'Copy';
      button.type = 'button';
      button.ariaLabel = 'Copy code to clipboard';
      button.innerText = copyText;
      button.addEventListener('click', function () {
        var code = pre.querySelector('code').innerText;
        try {
          code = code.trimEnd();
        } catch (e) {
          code = code.trim();
        }
        navigator.clipboard.writeText(code);
        button.innerText = 'Copied';
        setTimeout(function () {
          button.blur();
          button.innerText = copyText;
        }, 2e3);
      });
      pre.appendChild(button);
    });
</script>
