    <p class="feed-subscribe">
      <a href="https://feedrabbit.com/?url=https:put_the_link_you_want_HERE">
        <svg class="svg-icon orange">
          <use xlink:href="{{ 'assets/minima-social-icons.svg#rss' | relative_url }}"></use>
        </svg><span>Subscribe</span>
      </a>
</p>

<footer id="footer" class="site-footer">
  <div class="inner">
    <div class="copyright">
      {% if site.copyright %}
        {{ site.copyright | markdownify }}
      {% else %}
        <p>&copy; {{ site.time | date: '%Y' }} {{ site.title }}.</p>
      {% endif %}
    </div>
  </div>
</footer>
