<script src="https://giscus.app/client.js"
        data-repo="sofijacom/sofijacom.github.io"
        data-repo-id="R_kgDON7iIDw"
        data-category="General"
        data-category-id="DIC_kwDON7iID84Cq1Zx"
        data-mapping="pathname"
        data-strict="0"
        data-reactions-enabled="1"
        data-emit-metadata="0"
        data-input-position="bottom"
        data-theme="gruvbox_light"  /*light, dark, catppuccin_latte, catppuccin_macchiato, transparent_dark, preferred_color_scheme, cobalt, purple_dark, */
        data-lang="en"
        crossorigin="anonymous"
        async>
</script>

<!--
<style>
.giscus, .giscus-frame {
  width: 100%;
  min-height: 150px;
}

.giscus-frame {
  border: none;
  color-scheme: light dark;
}
.giscus-frame--loading {
  opacity: 0;
}
</style>
-->
