<h3 align="left" style="color:#cba6f7">Leave a comment</h3>
<script src="https://giscus.app/client.js"
        data-repo="sofijacom/sofijacom.github.io"
        data-repo-id="R_kgDON7iIDw"
        data-category="General"
        data-category-id="DIC_kwDON7iID84Cq1Zx"
        data-mapping="title"
        data-strict="0"
        data-reactions-enabled="1"
        data-emit-metadata="0"
        data-input-position="bottom"
        data-theme="catppuccin_latte"
        data-lang="en"
        data-loading="lazy"
        crossorigin="anonymous"
        async>
        
</script>

<!--
data-loading="lazy"
light, dark, catppuccin_latte, catppuccin_macchiato, gruvbox_light, transparent_dark, preferred_color_scheme, cobalt, purple_dark
-->

<!--
<style>
.giscus, .giscus-frame {
    width: 100%;
    min-height: 150px;
}

.giscus-frame {
   /* border: 1px solid #cba6f7; */
    border-radius: 10px;
    color-scheme: light dark;
    background-color: #1a1c2d;
    padding-left: 5px;
    padding-right: 5px;    
}
        
.giscus-frame--loading {
    opacity: 0;
}
</style>
-->
