<script src="https://giscus.app/client.js"
        data-repo="sofijacom/sofijacom.github.io"
        data-repo-id="R_kgDON7iIDw"
        data-category="Announcements"
        data-category-id="DIC_kwDON7iID84Cq1Zx"
        data-mapping="pathname"
        data-strict="0"
        data-reactions-enabled="1"
        data-emit-metadata="0"
        data-input-position="bottom"
        data-theme=""
        data-lang="en"
        data-loading="lazy"
        crossorigin="anonymous"
        async>

      function changeGiscusTheme() {
        // theme can either be `dark` or `light`.
        let theme = localStorage.getItem(".btn-toggle");
        let message = { setConfig: { theme: theme } };
        let iframe = document.querySelector('iframe.giscus-frame');
        // iframe might not be loaded by the time this function is called.
        if (iframe) {
            iframe.contentWindow.postMessage({ giscus: message }, 'https://giscus.app');
        }
    }

    function handleMessage(event) {
        if (event.origin !== 'https://giscus.app') return;
        if (!(typeof event.data === 'object' && event.data.giscus)) return;
        changeGiscusTheme();
    }
      
    window.addEventListener('message', handleMessage);
</script>

<!--
// "bottom" "top"
// light, dark, catppuccin_latte, catppuccin_macchiato, gruvbox_light, transparent_dark, preferred_color_scheme, cobalt, purple_dark
-->

<!--
<style>
.giscus, .giscus-frame {
  width: 100%;
  min-height: 150px;
}

.giscus-frame {
    border: 1px solid #cba6f7;
    border-radius: 20px;
    color-scheme: light dark;    
}
.giscus-frame--loading {
  opacity: 0;
}
</style>
-->
