<script>
    // Append to the <body>; can use a CSS selector to append somewhere else.
    window.goatcounter.visit_count({append: 'body' '#stats', style: `
    div { border-color: #fff; background-color: #222; color: #fff; }
`})
</script>
<script data-goatcounter="https://sofiya.goatcounter.com/count"
        async src="//gc.zgo.at/count.js"></script>


<!--
<script>
    // Append to the <body>; can use a CSS selector to append somewhere else.
    window.goatcounter.visit_count({append: 'body'})
</script>
<script data-goatcounter="https://sofiya.goatcounter.com/count" 
        async src="//gc.zgo.at/count.js"></script>
-->

<!--
<script>
    var t = setInterval(function() {
        if (window.goatcounter && window.goatcounter.visit_count) {
            clearInterval(t)
            window.goatcounter.visit_count({append: 'body'})
        }
    }, 100)
</script>
<script data-goatcounter="https://sofiya.goatcounter.com/count"
        async src="//gc.zgo.at/count.js"></script>
-->

<!--
goatcounter.visit_count({append: '#stats', style: `
    div { border-color: #fff; background-color: #222; color: #fff; }
`})

goatcounter.visit_count({append: '#stats', type: 'svg', style: `
    #gcvc-border { fill: #222; stroke: #fff; }
    #gcvc        { fill: #fff; }
`})
-->
