{{ define "main" }}
    <header class="content__header">
        <h1>{{ .Title | markdownify }}</h1>
    </header>
    <div class="content__body">
        {{ .Content }}
    </div>
    <footer class="content__footer"></footer>
{{ end }}

{{ define "aside" }}
    {{ if .Params.description }}<p>{{ .Params.description }}</p>{{ end }}

    {{ if or (.Params.author) (.Params.date) }}
        <p>
        {{ if .Params.author }}By {{ .Params.author }}{{ if .Date }} <br/> {{ end }}{{ end }}
            {{ if .Date }}{{ .Date.Format "2 January 2006" }}{{ end }}
        </p>
    {{ end }}

    {{ if and (.Params.toc) (.TableOfContents) }}
	    <hr>
	    On this page:
	    {{ .TableOfContents }}
    {{ end }}

    {{ if .Params.series }}
        <p>
        Part of<br/>
        {{ range .Params.series }}
        <a href="/series/{{ . | urlize }}"> {{ . }}</a>
        {{ end }}
        </p>
    {{ end }}

    {{ if .Params.tags }}
        <p>
            [~] ls<br/>
            {{ range .Params.tags }}
            -r-x <a id="tag_{{ . | lower }}" href="/tags/{{ . | urlize }}"> {{ . }} </a><br/>
            {{ end }}
        </p>
    {{ end }}
{{ end }}
