/* catppuccin macchiato */
:root {
	--base00: #181926; /* Crust */
	--base01: #1E2030; /* Mantle */
	--base02: #24273A; /* Base */

	--base03: #6E738D; /* Overlay0 */
	--base04: #A5ADCB; /* Subtext0 */
	--base05: #B8C0E0; /* Subtext1 */

	--base0A: #F4DBD6; /* Rosewater */
	--base0B: #8AADF4; /* Blue */
	--base0C: #EE99A0; /* Maroon */
	--base0D: #C6A0F6; /* Mauve */
}
