/*catppuccin frappe*/
:root {
	--base00: #232634;
	--base01: #292C3C;
	--base02: #303446;

	--base03: #737994;
	--base04: #A5ADCE;
	--base05: #B5BFE2;

	--base0A: #F2D5CF;
	--base0B: #8CAAEE;
	--base0C: #EA999C;
	--base0D: #CA9EE6;
}
