/* ==========================================================================
   Buttons
   ========================================================================== */

.btn {
  display: inline-block;
  padding: 2px 10px 2px 10px;
  border: 1px solid #4c4f69;
  border-radius: 8px;
  background-color: #18182505;
  color: #4c4f69;
  font-weight: 500;
  text-align: center;
  text-decoration: none;
  cursor: pointer;

  &:hover {
    background-color: tint($accent-color, 20%);
    color: #fff;
  }

  &:focus {
    background-color: shade($accent-color, 20%);
  }

  .icon {
    margin-right: 0.5em;
  }
   
  /* block button fills width of parent container */
  &--block {
    display: block;
    width: 100%;

    + .btn--block {
      margin-top: 1rem;
    }
  }
}
