.custom-checkbox {
    position: absolute;
    z-index: -1;
    opacity: 0;
}
.custom-checkbox+label {
    display: inline-flex;
    align-items: center;
    user-select: none;
}
.custom-checkbox+label::before {
    content: '';
    display: inline-block;
    width: 1em;
    height: 1em;
    flex-shrink: 0;
    flex-grow: 0;
    border: 1px solid #adb5bd;
    border-radius: 0.25em;
    margin-right: 0.5em;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 50% 50%;
} 
*{ 
	margin: 0; 
	padding: 0; 
	background-color: black; 
	
} 
/*Drawing the half moon by manipulating the div box*/ 
div{ 
	position: absolute; 
	top: 50%; 
	left: 50%; 
	transform: translate(-50%, -50%); 
	height: 100px; 
	width: 100px; 
	box-shadow: -15px 15px 0 5px white ; 
	border-radius: 50%; 
}
