.center {
    position: relative;
    width: 160px;
    top: 5px;
    left: 120px;
}
@font-face {
   /* font-family: "digital-clock-font"; */
    font-family: "clock-font";
    src: url("/assets/fonts/corner_font.ttf");
}
#clock33 {
   font-size: 24px;
   font-weight: normal;
   font-family: clock-font;
   text-align: center;
   border: 1px solid #a6adc8;
   border-radius: 40px;
   background: transparent;  /* #23273a; */
   color: #78858B;
}
