/* By Sofiya */
@charset "UTF-8";

.center {
    position: relative;
    width: 160px;
    top: -50%;
    left: 50%;
   /* margin-right: 50%; */
    transform: translate(-50%, -150%);
}
@font-face {
    /* font-family: "clock-font"; */
    font-family: "system-ui";
    src: url("/assets/fonts/corner_font.ttf");
}
#clock33 {
   font-size: 24px;
   font-weight: normal;
   /* font-family: clock-font; */
   font-family: awesome; 
   text-align: center;
  /* margin-bottom: 30px; */
   border: 1px solid #a6adc8;
   border-radius: 40px;
   background: transparent;  /* #23273a; #ccd0da;  transparent */
   color: #78858B; 
}
