/* By Sofiya */

/* dark-theme.css */
/* @import url(' '); */

/* font-family: "Fira Sans", sans-serif;  default */
@font-heading: "Jost", sans-serif;
@font-serif: "IBM Plex Serif", serif;
@font-sans: "Inter", sans-serif;
@font-monospace: "IBM Plex Mono", monospace;

:root {
    --base-color: #4c4f69;
    --code-background-color: #cdd6f3;
    --border-color: #cdd6f3;
    --overlay-color: #cdd6f3;
    --sidebar-background-color: #181825;
    --background-color: #181825;
    --text-color: #cdd6f4;
    --accent-color: #c09bef;
    --link-color: rgb(0, 188, 212);
    --main-headline-color: rgb(233, 30, 99);
    --accent-background-color: rgb(0, 188, 212);
}

body {
    background: #181926 !important;
    color: #cdd6f4 !important;
}

a {
  /* color: #4c4f69 !important; */
    align-items: normal !important;
}

/* text-decoration: underline; */
a:hover, a:focus {
    color: #cba6f7 !important;  
}

.sidebar .menu {
    font-family: "Jost", sans-serif;
    font-size: 32px;
}

/* цвет текста в баре */
.sidebar li a {
    color: #cdd6f4;
}

.sidebar .contact-list {
    font-size: 24px;
}

/* цвет текста в баре соц-сети */
.sidebar .contact-list a {
    display: block;
    color: #cdd6f4;
    text-decoration: none;
}

.sidebar-toggle-wrapper {
    background-color: #1e2030 !important;
}

 /* часть сидебара с кнопками */
.wrapper {
    position: relative;
    width: 100%;
    height: 100%;
    background-color: #1e2030 !important;
    color: #cdd6f4;
}

/* линия бара */
* {
    scrollbar-color: #a3aac5 #2f3234 !important;
}

/* надписи */
p {
    background-color: #18182500 !important;
    display: block;
}

.fa-solid {
    font-weight: 900;
}

/* кнопка переключения тем */
.btn-toggle {
    background: #18182505;
    color: #a6adc8;
    height: auto;
    display: inline-block;
    padding: 2px 10px 2px 10px;
    border: 1px solid #a6adc8;
    border-radius: 8px;
    margin-right: 10px;
}

.btn {
    display: inline-block;
    padding: 2px 10px 2px 10px;
    border: 1px solid #a6adc8;
    border-radius: 8px;
    background-color: #18182505 !important;
    color: #a6adc7 !important;
    font-weight: 500;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
}

 .btn:hover {
    background-color: #26074b !important;
    transition: 0.5s;
}

.btn:focus {
    background-color: #021635 !important;
    transition: 0.7s;
}

/* .btn:active {
    background-color: #021635 !important;
    transition: 0.5s;
} */

.search-toggle .icon {
    fill: #a6adc8 !important;
}

.navicon {
    background: #a6adc8 !important;
}
.navicon::before, .navicon::after {
    background: #a6adc8 !important;
}

.site-title {
    display: flex;
    line-height: normal !important;
}

.sub-title {
    color: #8838ef !important;
    font-size: 12px;
    font-weight: normal;
  }

h1, h2, h3, h4, h5, h6 {
    font-family: "Jost", sans-serif !important;   
}

.entry-content h1, .entry-content h2, .entry-content h3, .entry-content h4, .entry-content h5, .entry-content h6 {
    color: #bac2de !important;
}

html {
    font-family: "Inter", sans-serif !important;
}

kbd {
    display: inline-block !important;
    margin: 0 0.125em !important;
    padding: 0.125em 0.5em !important;
    border: 1px solid #6e768166 !important;
    border-radius: 6px !important;
    background-color: #181825 !important;
    text-shadow: 0 0px 0px #4c4f69 !important;
    box-shadow: 0 1px 0 rgba(0, 0, 0, 0.25), inset 0 -1px 0 #6e768166 !important;
}

code {
    font-size: 1em !important;
    color: #bac2de !important;
    background-color: #181825 !important;
}

.navicon-button {
  min-height: 35px !important;
}

 .icon--github {
    fill: var(--base-color) !important;
}

.icon--email {
    fill: var(--base-color) !important;
}

.icon--twitter {
    fill: var(--base-color) !important;
}
.icon--rss {
    fill: var(--base-color) !important;
}

div.highlighter-rouge,
figure.highlight {
  position: relative !important;
  margin-bottom: 1em !important;
  background: #181926 !important;
  color: #4c4f69 !important;
  font-family: Menlo, Consolas, Monaco, "Courier New", Courier, monospace !important;
  line-height: 1.8 !important;
  border-radius: 6px !important;
  border: 1px solid #45475a !important;  

  > pre,
  pre.highlight {
    margin: 0 !important;
    padding: 1em;
  }
}
.highlight pre {
    width: 100% !important; 
}
pre {
    padding: 8px !important;
    word-break: break-all !important;
    word-wrap: break-word !important;
    /* color: #a6adc8 !important; */
    /* background-color: #181926; */
}

header {
    display: block;
    background-color: #1e2030;
}

/* @media screen and (min-width: 1280px) {
    .intro-title {
        font-size: 70px !important;
    }
} */

.intro-title {
    margin-bottom: 1rem;
    color: #a6adc8 !important;
    line-height: 1;
}

.entry:not(:last-child) {
    border-bottom: 1px solid #4c4f69 !important;
}

.taxonomy-section:not(:last-child) {
    border-bottom: solid 1px #4c4f69 !important;
}

.taxonomy-index a {
    border-bottom: 1px solid #797b8f !important;
}

.taxonomy-count {
    color: #797b8f !important;
}

.back-to-top {
    display: block;
    color: #4c4f69 !important;
    font-size: 0.75em;
    text-transform: uppercase;
    text-align: right;
    text-decoration: none;
}

/* divider line */
&::after {
      position: absolute;
      bottom: 0;
      width: 1.5em;
      height: 1px;
      background-color: #1e1e2e !important;
      content: "";
}

@media screen and (min-width: 1280px) {
    .search-content .search-input {
        padding-left: 15px !important;
        width: 400px;
        height: 50px;
        margin: 0;
        color: #a6adc8;
        line-height: 50px;
        background-color: #181926 !important;
        border: 1px solid #797b8f !important;
        border-radius: 30px;
    }
}

::selection {
    background: #8838ef42 !important;
    text-shadow: none;
}

/* всплывающая подсказка */
[title-tooltip] {
  position: relative;
  cursor: pointer;
  width: max-content;
}

[title-tooltip]:hover::after,
[title-tooltip]:hover::before {
  opacity: 1;
  visibility: visible;
}

[title-tooltip]::after,
[title-tooltip]::before {
  position: absolute;
  left: 50%;
  display: block;
  opacity: 0;
  visibility: hidden;
  transition: .5s;
  transform: translateX(-50%);
}

[title-tooltip]::after {
  bottom: -50px;
  content: attr(title-tooltip);
  padding: 8px;
  border-radius: 8px;
  background: #cba6f7;
  color: #1e1e2e;  
  text-align: center;
  width: max-content;
  font-size: 12px;
  font-weight: 400;  
}

[title-tooltip]::before {
  bottom: -20px;
  content: '';
  border: 8px solid transparent;
  border-bottom: 10px solid #cba6f7;
}

.basil--sun-solid {
  display: block;
  width: 24px;
  height: 24px;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-image: url('/assets/icons/basil--sun-solid.png');
}
