/* dark-theme.css */

body {
    background: #181825;
    color: #cdd6f3;

}
body a {
    color: #c09bef;
}

.sidebar .menu {
    font-family: "Jost", sans-serif;
    font-size: 32px;
}

.sidebar li a {
    /* position: relative; */
    color: #cdd6f3;     /* цвет текста в баре */
}

.sidebar .contact-list {
    font-size: 24px;
}

.sidebar .contact-list a {
    /* display: block; */
    color: #cdd6f3;    /* цвет текста в баре соц-сети */
    text-decoration: none;
}

.wrapper {
    position: relative;
    width: 100%;
    height: 100%;
    background-color: #181825;    /* часть сидебара с кнопками */
    color: #cdd6f3;
}

div {
    background-color: #181825;   /* базовый блочный элемент */
    /* display: block; */
    /* unicode-bidi: isolate; */
}

* {
    scrollbar-color: #a3aac5 #2f3234;   /* линия бара */
}

p {
    background-color: #181825;    /* надписи */
    /* display: block; */
}

/* html, body, input, textarea, select, button {
    background-color: #11111b;   * нижний блок *
    color: #cdd6f3;
    height:auto;
} */

.btn {
    display: inline-block;
    padding: 2px 10px 2px 10px;
    border: 1px solid #a6adc8;
    border-radius: 8px;
    background-color: #18182505;
    color: #a6adc8;
    font-weight: 500;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    border-color: #a6adc8;
}
/*.btn:hover {

    transition: 0.5s;
}
.btn:active {
    background-color: #021635;
    transition: 0.5s;
}
.btn:focus {
    background-color: #021635;
    transition: 0.7s
} */

a {
    color: #cdd6f3;
}

a:hover, a:focus {
    /* color: var(--accent-color); */
    color: #cba6f7;
    /* text-decoration: underline; */
}

.site-title:hover {
    color: #cba6f7;
    transition: 0.7s;
    text-decoration: underline;          /* dotted , double */
    text-decoration-thickness: 1px;
}

h1, h2, h3, h4, h5, h6 {
    /* font-family: "Fira Sans", sans-serif; */
    font-family: "Inter", sans-serif;
}

/* .entry-meta .icon {
 m ar*gin-right: 0.5em;
 fill: #b4befe;
 } */

.icon--github {
    fill: #b4befe;
}

.icon--email {
    fill: #b4befe;
}

.icon--twitter {
    fill: #b4befe;
}
.icon--rss {
    fill: #b4befe;
}

.highlight pre {
    width: 100%;
    background-color: #1e1e2e;
}

.header .container, .footer .container {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex
    ;
    -webkit-box-direction: normal;
    -webkit-box-orient: horizontal;
    -webkit-flex-direction: row;
    -moz-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    -webkit-justify-content: space-between;
    -moz-justify-content: space-between;
    justify-content: space-between;
    padding: 1rem 0;
}
.container {
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
}
