.theme {
    &.dark {
        base-color: #24273a;
        text-color: #c6a0f6;
        accent-color: #8839ef;
        background-color: #1e1e2e;$code-background-color: #cdd6f3;
        border-color: rgba($text-color, 0.5);
        overlay-color: #cdd6f3;
    }
    &.light {
        base-color: #561050;
        text-color: #35013f;
        accent-color: #951556;
        background-color: #e9b5d2;
        code-background-color: #fff;
        border-color: rgba($text-color, 0.5);
        overlay-color: #fff;
    }
    transition:background-color 200ms ease-in-out, color 200ms ease-in-out;
}

html
<body class="body theme dark"> <!-- just switch dark to light class-->

<p> Lorem Ipsum dolor sit amet... </p>

<button onclick="document.body.classList.toggle('dark')">Change Theme</button>

</body>
