[data-theme="dark"] .bg-black {
  background-color: #c6a0f6 !important;
}

[data-theme="dark"] .bg-dark {
  background-color: #c6a0f6 !important;
}

[data-theme="dark"] {
  base-color: #aa55ff !important;
  text-color: #c6a0f6 !important;
  accent-color: #8839ef !important;
  background-color: #1e1e2e !important;
  code-background-color: #939ab7 !important;
  border-color: rgba($text-color, 0.5) !important;
  overlay-color: #939ab7 !important;
  color: #c6a0f6 !important;
}

@media (prefers-color-scheme: dark) {
[data-theme="dark"] {
  base-color: #aa55ff !important;
  text-color: #c6a0f6 !important;
  accent-color: #8839ef !important;
  background-color: #1e1e2e !important;
  code-background-color: #939ab7 !important;
  border-color: rgba($text-color, 0.5) !important;
  overlay-color: #939ab7 !important;
  color: #c6a0f6 !important;
    }
