/* By Sofiya */

/* light-theme.css */
/* @import url(' '); */

/* font-family: "Fira Sans", sans-serif;  default */
@font-heading: "Jost", sans-serif;
@font-serif: "IBM Plex Serif", serif;
@font-sans: "Inter", sans-serif;
@font-monospace: "IBM Plex Mono", monospace;

:root {
    --base-color: #4c4f69;
    --code-background-color: #4c4f69;
    --border-color: #4c4f69;
    --overlay-color: #4c4f69;
    --sidebar-background-color: #e6e9ef;
    --background-color: #e6e9ef;
    --text-color: #4c4f69;
    --accent-color: #dc8a78;
    --link-color: rgb(0, 0, 238);
    --main-headline-color: rgb(0, 0, 192);
    --accent-background-color: rgb(0, 0, 238);
}

  @media (prefers-color-scheme: light-theme) {
    :root {
    --base-color: #4c4f69;
    --code-background-color: #4c4f69;
    --border-color: #4c4f69;
    --overlay-color: #4c4f69;
    --sidebar-background-color: #e6e9ef;
    --background-color: #e6e9ef;
    --text-color: #4c4f69;
    --accent-color: #dc8a78;
    }
  }

body {
    background: #dce0e8 !important;
    color: var(--text-color) !important;
}

a {
   /* color: #4c4f69 !important; */
    align-items: normal !important;
} 

a:hover, a:focus {
    color: var(--accent-color) !important;
}

/* Colors */
.sidebar .menu {
    font-family: "Jost", sans-serif;
    font-size: 32px;
}

/* цвет текста в баре */
.sidebar li a {
    color: #4c4f69;
}

.sidebar .contact-list {
    font-size: 24px;
}

/* цвет текста в баре соц-сети */
.sidebar .contact-list a {
    color: #4c4f69;
    text-decoration: none;
}

.sidebar-toggle-wrapper {
    background-color: #e6e9ef;
}

/* часть сидебара с кнопками */
.wrapper {
    position: relative;
    width: 100%;
    height: 100%;
    background-color: #e6e9ef !important;
    color: #4c4f69;
}

/* линия бара */
* {
    scrollbar-color: #738295 rgb(242, 242, 242) !important;
}

/* надписи */
p {
    background-color: #00000000 !important;
    display: block;
}

.fa-solid {
    font-weight: 900;
    color: #4c4f69;
}

/* кнопка переключения тем */
.btn-toggle {
    background-color: transparent;
    color: #11111b;
    height: auto;
    display: block;
    padding: 1px 8px 1px 8px;
    border: 1px solid #4c4f69;
    border-radius: 50px;
    margin-right: 10px;
}
.btn-toggle:hover {
   color: #04a5e5;
   transition: 0.5s; 
}

.btn {
    display: inline-block;
    padding: 2px 10px 2px 10px;
    border: 1px solid #a6adc8;
    border-radius: 8px;
    background-color: #18182505 !important;
    color: #4c4f69 !important;
    font-weight: 500;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
}

.btn:hover {
    background-color: #04a5e5 !important;
    color: #181825 !important;
    transition: 0.5s;
}

.btn:focus {
    background-color: #04a5e5 !important;
    transition: 0.7s;
}

.site-title {
    display: flex;
    line-height: normal !important;
}

.sub-title {
    color: #8838ef !important;
    font-size: 12px;
    font-weight: normal;
}

h1, h2, h3, h4, h5, h6 {
    font-family: "Inter", sans-serif !important;
}

.entry-content h1, .entry-content h2, .entry-content h3, .entry-content h4, .entry-content h5, .entry-content h6 {
    color: #4c4f69 !important;
}

html {
  font-family: "Inter", sans-serif !important;
}

kbd {
    display: inline-block !important;
    margin: 0 0.125em !important;
    padding: 0.125em 0.5em !important;
    border: 1px solid #6e768166 !important;
    border-radius: 6px !important;
    background-color: #e6e9ef !important;
    text-shadow: 0 0px 0 #4c4f69 !important;
    box-shadow: 0 1px 0 rgba(0, 0, 0, 0.25), inset 0 -1px 0 #6e768166 !important;
}

code {
    font-size: 1em !important;
    color: #4c4f69 !important;
    background-color: #1c202330 !important;
}

.navicon-button {
  min-height: 35px !important;
}

 .icon--github {
    fill: var(--base-color) !important;
}

.icon--email {
    fill: var(--base-color) !important;
}

.icon--twitter {
    fill: var(--base-color) !important;
}

.icon--rss {
    fill: var(--base-color) !important;
} */

div.highlighter-rouge,
figure.highlight {
  position: relative !important;
  margin-bottom: 1em !important;
  background: #263238 !important;
  color: #4c4f69 !important;
  font-family: Menlo, Consolas, Monaco, "Courier New", Courier, monospace !important;
  line-height: 1.8 !important;
  border-radius: 6px !important;
  border: 1px solid #dce0e8 !important;  

  > pre,
  pre.highlight {
    margin: 0 !important;
    padding: 1em;
  }
}
.highlight pre {
    width: 100% !important; 
}
pre {
    padding: 8px !important;
    word-break: break-all !important;
    word-wrap: break-word !important;
    /* color: #4c4f69; */
    /* background-color: #181825; */
}

header {
    display: block;
    background-color: #e6e9ef;
}

/* @media screen and (min-width: 1280px) {
    .intro-title {
        font-size: 70px !important;
    }
} */

.intro-title {
    margin-bottom: 1rem;
    color: #4c4f69 !important;
    line-height: 1;
}

.entry:not(:last-child) {
    border-bottom: 1px solid #4c4f69 !important;
}

.taxonomy-section:not(:last-child) {
    border-bottom: solid 1px #4c4f69 !important;
}

.back-to-top {
    display: block;
    color: #4c4f69 !important;
    font-size: 0.75em;
    text-transform: uppercase;
    text-align: right;
    text-decoration: none;
}

.taxonomy-index a {
    border-bottom: 1px solid #797b8f !important;
}

.taxonomy-count {
    color: #797b8f !important;
}

.site-footer {
    margin-top: 4rem;
    color: #4c4f69 !important;
    font-size: 80% !important;
}

@media screen and (min-width: 1280px) {
    .search-content .search-input {
        padding-left: 15px !important;
        width: 400px;
        height: 50px;
        margin: 0;
        color: #4c4f69;
        line-height: 50px;
        background-color: #dce0e8 !important;
        border: 1px solid #797b8f !important;
        border-radius: 30px;
    }
}

::selection {
    background: #8838ef42 !important;
    text-shadow: none;
}

/* всплывающая подсказка */
[title-tooltip] {
  position: relative;
  cursor: pointer;
  width: max-content;
}

[title-tooltip]:hover::after,
[title-tooltip]:hover::before {
  opacity: 1;
  visibility: visible;
}

[title-tooltip]::after,
[title-tooltip]::before {
  position: absolute;
  left: 50%;
  display: block;
  opacity: 0;
  visibility: hidden;
  transition: .5s;
  transform: translateX(-50%);
}

[title-tooltip]::after {
  bottom: -50px;
  content: attr(title-tooltip);
  padding: 8px;
  border-radius: 8px;
  background: rgb(4, 165, 229, 0.5);
  color: #161625;   
  text-align: center;
  width: max-content;
  font-size: 12px;
  font-weight: 400;  
}

[title-tooltip]::before {
  bottom: -20px;
  content: '';
  border: 8px solid transparent;
  border-bottom: 10px solid rgb(4, 165, 229, 0.5);
}

/* .basil--moon-solid {
  display: block;
  width: 21px;
  height: 21px;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cpath fill='%23000' d='M12 3.5a8.5 8.5 0 1 0 8.46 9.32a.5.5 0 0 0-.812-.435a5 5 0 1 1-6.137-7.893a.5.5 0 0 0-.225-.895A8.6 8.6 0 0 0 12 3.5'/%3E%3C/svg%3E");
} */

.ri--moon-clear-line {
  display: block;
  width: 21px;
  height: 21px;
  image: "/assets/images/ri--moon-clear-line.svg";
  background-color: currentColor;
  background-repeat: no-repeat;
  background-size: 100% 100%;
}
