body {
    base-color: #4c4f69;
    text-color: #4c4f69;
    accent-color: #8838ef;
    background-color: #e6e9ef;
    code-background-color: tint(base-color, 95%);
    border-color: tint(base-color, 80%);
    overlay-color: base-color;
}
body a {
    color: #4c4f69;
}

/* Colors */
.sidebar .menu {
    font-family: "Jost", sans-serif;
    font-size: 32px;
}

.sidebar li a {
    color: #4c4f69;     /* цвет текста в баре */
}

.sidebar .contact-list {
    font-size: 24px;
}

.sidebar .contact-list a {
    /* display: block; */
    color: #4c4f69;    /* цвет текста в баре соц-сети */
    text-decoration: none;
}

.wrapper {
    position: relative;
    width: 100%;
    height: 100%;
    background-color: #e6e9ef;    /* часть сидебара с кнопками */
    color: #4c4f69;
}

.sidebar-toggle-wrapper {
    background-color: #e6e9ef;   /* часть сидебара с кнопками */
    /*  display: flex; */
}

/* .sidebar > .inner {
 *   background-color: #e6e9ef;
 *   color: #4c4f69;
 } * */

.sidebar>.inner {
    background-color: #e6e9ef;
    color: #4c4f69;
    width: 100%;
    height: 100%;
}

.inner {
    background-color: #e6e9ef;
    max-width: 1024px;
    height:auto;
}

div {
    background-color: #e6e9ef;   /* базовый блочный элемент */
    /* display: block; */
    /* unicode-bidi: isolate; */
}

* {
    scrollbar-color: #a3aac5 #2f3234;   /* линия бара */
}

p {
    background-color: #e6e9ef;    /* надписи */
    /* display: block; */
}

html, body, input, textarea, select, button {
    background-color: #e6e9ef;   /* нижний блок */
    color: #4c4f69;
    height:auto;
}

.btn {
    display: inline-block;
    padding: 2px 10px 2px 10px;
    border: 1px solid #a6adc8;
    border-radius: 8px;
    background-color: #18182505;
    color: #a6adc8;
    font-weight: 500;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    /* border-color: #a6adc8; */
}

.btn:hover {
    background-color: #dc8a78;
    transition: 0.5s;
}

.btn:focus {
    background-color: #dd7878;
    transition: 0.7s
}

a {
    color: #4c4f69;
}

a:hover, a:focus {
    color: #8838ef;
}

.site-title:hover {
    color: #8838ef;
    transition: 0.5s;
    text-decoration: underline;          /* dotted , double */
    text-decoration-thickness: 1px;
}

/* a:-webkit-any-link {
 *   color: #cdd6f3;
 *   text-decoration: underline;
 * } * */

h1, h2, h3, h4, h5, h6 {
    /* font-family: "Fira Sans", sans-serif; */
    font-family: "Inter", sans-serif;
}

hr {
    border-top: 2px solid #45475a;
}

/* .entry-meta .icon {
 *   margin-right: 0.5em;
 *   fill: #b4befe;
 * } * */

.icon--github {
    fill: #4c4f69;
}

.icon--email {
    fill: #4c4f69;
}

.icon--twitter {
    fill: #4c4f69;
}

.icon--rss {
    fill: #4c4f69;
}

.highlight pre {
    width: 100%;
    background-color: #1a1b26;
}

.taxonomy-count {
    color: #4c4f69;
}

.taxonomy-index a {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex
    ;
    padding: 0.25em 0;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    color: #4c4f69;
    text-decoration: none;
    border-bottom: 1px solid #9ba2b1;
}

.back-to-top {
    color: #4c4f69;
}

.site-footer {
    color: #4c4f69;
}

.entry:hover {
    color: #8838ef;
}
