/* light-theme.css */
@import url('https://kit.fontawesome.com/f3014a7b89.js');

:root {
    --base-color: #4c4f69 !important;
    --code-background-color: #4c4f69 !important;
    --border-color: #4c4f69 !important;
    --overlay-color: #4c4f69 !important;
    --sidebar-background-color: #e6e9ef !important;
    --background-color: #e6e9ef !important;
    --text-color: #181825 !important;
    --accent-color: #8838ef !important;
}

body {
    background: #e6e9ef !important;
    color: #181825 !important;
}

/* body a {
    color: #8838ef !important;
} */

/* Colors */
.sidebar .menu {
    font-family: "Jost", sans-serif;
    font-size: 32px;
}
/* цвет текста в баре */
.sidebar li a {
    color: #4c4f69;
}

.sidebar .contact-list {
    font-size: 24px;
}
/* цвет текста в баре соц-сети */
.sidebar .contact-list a {
    color: #4c4f69;
    text-decoration: none;
}

.sidebar-toggle-wrapper {
        background-color: #e6e9ef;
}
/* часть сидебара с кнопками */
.wrapper {
    position: relative;
    width: 100%;
    height: 100%;
    background-color: #e6e9ef !important;
    color: #4c4f69;
}

/* базовый блочный элемент */
/* div {
    background-color: #e6e9ef !important;

} */
/* линия бара */
* {
    scrollbar-color: #a3aac5 #2f3234;
}
/* надписи */
p {
    background-color: #e6e9ef !important;
    display: block;
}
/* нижний блок */
/* html, body, input, textarea, select, button {
    background-color: #e6e9ef;
    color: #4c4f69;
    height:auto;
} */
/* кнопка переключения тем */
.btn-toggle {
    background: 
   /* background: #cdd6f3; */
    color: #11111b;
    height: auto;
    display: inline-block;
    padding: 2px 10px 2px 10px;
    border: 1px solid #a6adc8;
    border-radius: 10px;
    margin-right: 10px;
}

.btn {
    display: inline-block;
    padding: 2px 10px 2px 10px;
    border: 1px solid #a6adc8 !important;
    border-radius: 8px;
    background-color: #18182505 !important;
    color: #a6adc8;
    font-weight: 500;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
}

.btn:hover {
    background-color: #04a5e5 !important;
    color: #181825 !important;
    transition: 0.5s;
}

.btn:focus {
    background-color: #04a5e5 !important;
    transition: 0.7s;
}

a {
    color: #cdd6f3;
}

a:hover, a:focus {
    color: #dc8a78 !important;
}

.site-title:hover {
    color: #8838ef !important;
    transition: 0.5s;
    text-decoration: underline;          /* dotted , double */
    text-decoration-thickness: 1px;
}

h1, h2, h3, h4, h5, h6 {
    /* font-family: "Fira Sans", sans-serif; */
    font-family: "Inter", sans-serif;
}

/* .entry-meta .icon {
 *   margin-right: 0.5em;
 *   fill: #b4befe;
 * } */

 .icon--github {
    fill: #4c4f69 !important;
}

.icon--email {
    fill: #4c4f69 !important;
}

.icon--twitter {
    fill: #4c4f69 !important;
}

.icon--rss {
    fill: #4c4f69 !important;
} */

.highlight pre {
    width: 100%;
    background-color: #2f363d;
}

header {
    display: block;
    background-color: #e6e9ef;
}

.intro-title {
    margin-bottom: 1rem;
    color: #4c4f69;
    line-height: 1;
}

