:root {
    base-color: #1e1e2e !important;
    code-background-color: #cdd6f3 !important;
    border-color: #cdd6f3 !important;
    overlay-color: #1e1e2e !important;
    sidebar-background-color: #181825 !important;;
    background-color: #181825 !important;
    text-color: #cdd6f3 !important;
    accent-color: #c09bef !important;
}

body {
    background: #181825 !important;
    color: #cdd6f3 !important;
}
