/* Global variables. */
:root,
::backdrop {
  /* Set sans-serif & mono fonts */
  --sans-font: -apple-system, BlinkMacSystemFont, "Avenir Next", Avenir,
    "Nimbus Sans L", Roboto, "Noto Sans", "Segoe UI", Arial, Helvetica,
    "Helvetica Neue", sans-serif !important;
  --mono-font: Consolas, Menlo, Monaco, "Andale Mono", "Ubuntu Mono", monospace !important;
  --standard-border-radius: 5px !important;

  /* Color themes: https://catppuccin.com/palette */

/* Dark theme */
@media (prefers-color-scheme: dark) {
  :root,
  ::backdrop {
    color-scheme: dark;
    --bg: #1e1e2e !important; /* Base */
    --accent-bg: #181825!important ; /* Mantle */
    --text: #cdd6f4 !important; /* Text */
    --text-light: #bac2de!important ; /* Subtext1 */
    --border: #6c7086!important ; /* Overlay0 */
    --accent: #cba6f7!important ; /* Mauve */
    --accent-hover: #cba6f7 !important; /* Mauve */
    --accent-text: #fab387!important ; /* Peach */
    --code: #a6adc8 !important; /* Subtext0 */
    --preformatted: #a6adc8!important ; /* Subtext0 */
    --shadows: rgb(186, 194, 222, 0.5)!important ; /* Subtext1; same as --text-light */
    --disabled: #11111b !important; /* Crust */
  }
  /* Add a bit of transparency so light media isn't so glaring in dark mode */
  img,
  video {
    opacity: 0.8;
  }
}

/* Global elements -------------------------------------------------- */

body {
  font-size: 1rem;
}

nav {
  padding: 2rem;
  text-align: center;
}

a {
  text-decoration: none;
}
a:hover {
  color: #cba6f7 !important;
}

p {
  margin: 0.5rem 0;
}

h1, h2, h3, h4, h5, h6 {
  color: #fab387 !important;
}

aside, details, pre, progress {
  border: 0;
}

/* Article -------------------------------------------------- */
article {
  border: 0;
  margin: 0;
  padding: 0;
}

.article-link {
  border-bottom: 1px solid #6c7086 !important;
  padding: 0.5rem 0;
}
.article-link:last-child {
  border-bottom: 0;
}
.article-link img {
  display: block;
  margin-left: auto;
  text-align: right;
  width: 25%;
}
.article-link .excerpt {
  color: #bac2de !important;
  text-align: right;
}

#article-body figure {
  background-color: #181825 !important;
  border-radius: 5px;
  padding: 1rem;
}


/*  Coding */
/* pre {
  box-shadow: 0 0.5rem 1rem -0.75rem inset var(--text), 0 -1.5rem 1rem -0.75rem inset var(--text) !important;
} */


/* Footer -------------------------------------------------- */
body > footer {
  border-width: 7px 0 0 0;
  border-style: double;
  border-color: #6c7086 !important;
}

#footer-home {
  margin-top: -3.9rem;
}
#footer-home img {
  background-color: #1e1e2e !important;
  opacity: unset;
}

/* Custom classes -------------------------------------------------- */

.muted {
  color: #555;
}
.sm {
  font-size: 75%;
}
.xs {
  font-size: 40%;
}
