---
layout: default
---

 <head>

   <!-- THEME SWITCHER -->
   <script type="text/javascript" src="/assets/js/theme-switcher.js"></script>

   <!-- The rest of the head content goes here... -->

<!-- Switcher --> 
  <script type="text/javascript" src="/assets/js/darkreader.js"></script> 
 <!-- <script type="text/javascript" src="https://unpkg.com/darkreader@4.9.10/darkreader.js"></script> -->
   <!-- Theme switcher onclick -->
  <input type="checkbox" id="theme-switch" onclick="changeTheme()"> 
   

{% include page-intro.html %}

<main id="main" class="page-content" aria-label="Content">
  <div class="inner">
    <div class="entry-wrap">
      <div class="entry-content">
        {{ content }}
      </div>
      <aside class="entry-sidebar">
        {% include author %}
        {% if author_picture %}
          <img class="author-picture" src="{{ author_picture }}" alt="{{ author_name }}">
        {% endif %}
      </aside>
    </div>
  </div>
</main>
