---
layout: default
---


    <link rel="stylesheet" href="/assets/css/style.css">
     <link rel="stylesheet" href="/assets/css/calendars.css">
  
{% assign PATH_TO_COMPONENTS =  "/components" | prepend: site.baseurl %}

  <div>
  {{ content }}
</div>
  
  <div class="container" style="width:100%">
  <div class="page-header">
    
    <section>
<h1 id="year"></h1>
<div class="calendar"></div>
</section>
    
    <small>{{ page.calendar_caption }}</small>
  </div>
</div>
  
  <script type="text/javascript" src="/assets/js/calendars.js"></script>

