---
layout: default
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Calendar</title>
    <link rel="stylesheet" href="/assets/css/style.css">
     <link rel="stylesheet" href="/assets/css/calendars.css">
  </head>
  
{% assign PATH_TO_COMPONENTS =  "/components" | prepend: site.baseurl %}
  
  <section>
<h1 id="year"></h1>
<div class="calendar"></div>
</section>
  <script type="text/javascript" src="/assets/js/calendars.js"></script>

  <body>
    <header></header>
    <main></main>
    <footer></footer>
  </body>
</html>
