<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
     <title>Kennel linux</title>
      <meta name="viewport" content="width=device-width, initial-scale=1">
       <title>Custom Bootstrap</title>
        <!-- style -->
    <!--  <link rel="stylesheet" href="css/style.css"> -->
   <!-- <link href="/components/bootstrap/css/bootstrap.css" rel="stylesheet"> -->
  <!-- <script type="text/javascript" src="/components/bootstrap/js/bootstrap.js"></script> -->  
      <!-- Fonts awesome -->
    <!-- Place your kit's code here -->
    <script src="https://kit.fontawesome.com/f3014a7b89.js" crossorigin="anonymous"></script>
  </head>
  
          <!-- theme switcher -->
	<script type="text/javascript" src="/assets/js/script.js"></script>
    <script type="text/javascript" src="/assets/js/darkreader.js"></script>
        <!-- Toggle -->
    <script type="text/javascript" src="/assets/js/theme-switcher.js"></script>
     <!-- Theme Toggle -->
    <link rel="stylesheet" href="/assets/css/checkbox.css">  

  <div class="theme-switch-wrapper">
       <label class="theme-switch" for="checkbox">
    <input type="checkbox" id="checkbox" />
    <div class="slider round"></div>
  </label>
    <em>Enable Dark Mode!</em>
  </div>
	
  <body>
    <header></header>
    <main></main>
    <footer></footer>
  </body>
</html>

<html lang="{{ page.lang | default: site.lang | default: 'en-US' }}" class="no-js">
  {% include head.html %}

  <body class="layout--{{ page.layout | default: layout.layout }}{% if page.classes or layout.classes %}{{ page.classes | default: layout.classes | join: ' ' | prepend: ' ' }}{% endif %} {{ page.title | slugify }}">
    
    {% include skip-links.html %}
      <div class="sidebar-toggle-wrapper">  
      {% if site.search %}
        <button class="search-toggle" type="button">
          <svg class="icon" width="16" height="16" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 15.99 16">
            <title>{{ site.data.theme.t.search | default: 'Search' }}</title>
            <path d="M15.5,13.12L13.19,10.8a1.69,1.69,0,0,0-1.28-.55l-0.06-.06A6.5,6.5,0,0,0,5.77,0,6.5,6.5,0,0,0,2.46,11.59a6.47,6.47,0,0,0,7.74.26l0.05,0.05a1.65,1.65,0,0,0,.5,1.24l2.38,2.38A1.68,1.68,0,0,0,15.5,13.12ZM6.4,2A4.41,4.41,0,1,1,2,6.4,4.43,4.43,0,0,1,6.4,2Z" transform="translate(-.01)"></path>
          </svg>
        </button>     
      {% endif %}

<!-- Sun -->
<i class="fa-regular fa-sun" aria-hidden="true"></i>
<em></em>
 <div class="form-check form-switch form-check-inline toggle-inner">  
   <input type="checkbox" class="form-check-input" id="theme-switch" name="theme-switch" onclick="changeTheme()"> 
     <label class="switch" for="theme-switch"></label>
       <em></em>
        <!-- moon -->
      <i class="fa-regular fa-moon" aria-hidden="true"></i> 
     </div>
    <script type="text/javascript">
   document.getElementById("theme-switch").checked = localStorage.getItem("my-theme")==="dark"      
 </script> 
        
      <button class="toggle navicon-button larr" type="button">
        <span class="toggle-inner">
          <span class="sidebar-toggle-label visually-hidden">{{ site.data.theme.t.menu | default: 'Menu' }}</span>
          <span class="navicon"></span>
        </span>
      </button>
    </div>
      
    <div id="sidebar" class="sidebar">
      <div class="inner">
        {% include navigation.html %}
        {% include contact-list.html %}
      </div>
    </div>
    
    <div class="canvas">
      <div class="wrapper">
        {% include masthead.html %}
        <div class="initial-content">
          {{ content }}
        </div>
             
        <div class="search-content">
          {% include search-form.html %}
        </div>
      </div>
    </div>
 	  
 <hr class="hr-shelf">	  
	  
<style>
.hr-shelf {
	margin: -30px auto 10px;
	padding: 0;
	height: 50px;
	border: none;
	border-bottom: 1px solid #1f1209;
	box-shadow: 0 20px 20px -20px #333;
	width: 95%;
}
</style> 
	  
    {% include footer.html %}
    {% include scripts.html %}
	  	  
     </body>
          <body>
            <i class="."></i>
          </body>
 
</html>
