---
layout: default
---

<!DOCTYPE html>
  <div class="post-content">
    <style type="text/css" media="screen">
  .container {
    margin: 10px auto;
    max-width: 880px;
  }
</style>

<div class="container">
  
     {% if page.comments != false %}
       {% include  disqus.html %}
     {% endif %}
</div>
  </div>


<!-- <!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Discussion section</title>
    <link rel="stylesheet" href="/assets/css/style.css">
  </head>
  
  <body>    
<main id="main" class="page-content" aria-label="Content">
  <div class="inner">
    <article class="entry-wrap">
      <div class="entry-content">
        {{ content }} 
      </div>
     {% if page.comments != false %}
       {% include  disqus.html %}
     {% endif %}
    </article>
  </div>
</main>
      
  </body>
</html>
-->
