---
layout: default
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Discussion section</title>
    <link rel="stylesheet" href="/assets/css/style.css">
    <link href="/assets/emoji/emoji.css" rel="stylesheet" type="text/css" />
    <script src="/assets/emoji/emoji.js" type="text/javascript"></script>
  </head>

 <!-- <div class="post-content">
    <style type="text/css" media="screen">
  .container {
    margin: 10px auto;
    max-width: 900px;
  }  
</style> -->
   
<!-- <div class="container"> -->
<main id="main" class="page-content" aria-label="Content">
  <div class="inner">
    <article class="entry-wrap">
      <div class="entry-content">
        {{ content }} 
      </div>
     {% if page.comments != false %}
       {% include  disqus.html %}
     {% endif %}
    </article>
  </div>
</main>
<!-- </div> -->

  <body>
      <script type="text/javascript">

var emoji = new EmojiConvertor();

// replaces \u{1F604} with platform appropriate content
var output1 = emoji.replace_unified(input);

// replaces :smile: with platform appropriate content
var output2 = emoji.replace_colons(input);

// convert colons explicitly to unicode
emoji.replace_mode = 'unified';
emoji.allow_native = true;
var output3 = emoji.replace_colons(input);

</script>
    <header></header>
    <footer></footer>
  </body>
</html>
