---
layout: default
---

<!doctype html>
<html class="no-js" lang="en">

<head>
  <meta charset="utf-8">
   <meta name="viewport" content="width=device-width, initial-scale=1">
    <title> • Page • </title>
  <link rel="stylesheet" href="/assets/css/style.css">
</head>
   
  <body>
  </body>

</html>

{% include page-intro.html %}

<main id="main" class="page-content" aria-label="Content">
  <div class="inner">
    <article class="entry-wrap">
      <div class="entry-content">
        {{ content }}
      </div>
    </article>
  </div>
</main>
