---
layout: default
---

<!doctype html>
<html lang="en">

<head>
  <link rel="stylesheet" href="/assets/css/style.css">
</head>
     
<body>
  
{% include page-intro.html %} 
  
<main id="main" class="page-content" aria-label="Content">
  <div class="inner">
    <article class="entry-wrap">
      <div class="entry-content">
        {{ content }}
      </div>
        {% if page.comments != false %}
       {% include  disqus.html %}
     {% endif %}
    </article>
  </div>
</main>
    
  </body>  
</html>
