---
layout: default
---

<link rel="stylesheet" href="/assets/css/style.css">

{% include page-intro.html %}

<main id="main" class="page-content" aria-label="Content">
  <div class="inner">
    <article class="entry-wrap">
      <div class="entry-content">
        {{ content }}
      </div>
     {% if page.comments != false %}
       {% include  disqus.html %}
     {% endif %}
    </article>
  </div>
  <a href="#page-title" class="back-to-top">{{ site.data.text[site.locale].back_to_top | default: 'Back to Top' }} <i class="fa-solid fa-arrow-up"></i></a> 
</main>
