---
layout: default
---

<link rel="stylesheet" href="/assets/css/style.css">

{% include page-intro.html %}

<main id="main" class="page-content" aria-label="Content">
  <div class="inner">
    <article class="entry-wrap">
      <div class="entry-content">
        {{ content }}
      </div>
     {% if page.comments != false %}
       {% include  giscus.html %}
     {% endif %}
    </article>
  </div>
</main>
<link rel="stylesheet" href="/assets/css/code-block-buttons.css">


<script type="text/javascript" src="/assets/js/clipboard.min.js"></script>

<script type="text/javascript" src="/assets/js/code-block-buttons.js"></script>

<script type="text/javascript" src="/assets/js/buttons.js"></script>
