---
layout: void-packages
---

<!-- docs/index.html -->
<!DOCTYPE html>
<html>
<head>
  <title>Void Packages</title>
  <style>
    body { font-family: sans-serif; padding: 2rem; }
    a { display: block; margin: 1rem 0; color: #0066cc; }
  </style>
</head>
<body>
  <h1>📦 Repo Void-packages </h1>
  <p>Automatically built packages for Void Linux.</p>
  <p><a href="x86_64">Packages (x86_64)</a></p>
  <h2>How to use:</h2>
  <pre>sudo xbps-install -S -R https://sofijacom.github.io/void-packages.html/x86_64 void-packages</pre>
</body>
</html>
